{% extends "app/layout.html" %}
{% block content %}

    <div>
        <h1>Разнообразие</h1>
        <VIDEO src="/media/footstep.mp4" controls="controls" width="600"  poster="/media/poster_1.png" </VIDEO>

    </div>
<hr/>
    <div>

        <h1>Осень</h1>
        <VIDEO src="/media/footstep2.mp4" controls="controls" width="600"  poster="/media/poster_2.png" </VIDEO>

    </div>
<hr/>
    <div>
        <h1>Красивый вид</h1>
        <VIDEO src="/media/footstep3.mp4" controls="controls" width="600"  poster="/media/poster_3.png" </VIDEO>
    </div>

{% endblock %}